.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: midnightblue;
  color: deepskyblue;
  font-weight: bold;
  font-size: 20px;
}
.wrapper {
  margin: 50px;
  width: 300px;
  padding: 10px;
  border: 2px solid deepskyblue;
  border-radius: 5px;
}
.table {
  height: 50px;
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.errorTable {
  color: red;
  font-weight: bold;
  font-size: 25px;
}


.button-block {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  color: midnightblue;
  background-color: deepskyblue;
  font-weight: bold;
  font-size: 20px;
  min-width: 100px;
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.disabled {
  opacity: 0.3;
}
.inputBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.input {
  max-width: 100px;
  padding: 5px;
}